* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}


#send {
  background: #000;
  padding: 3px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

#send input {
  border: 0;
  padding: 10px;
  width: 90%;
  margin-right: .5%;
}

#send button {
  width: 9%;
  /*background: rgb(130, 224, 255);*/
  background: #e74c3c;
  color: white;
  font-weight: bold;
  border: none;
  padding: 10px;
  z-index: 3000;
}

#messages {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

#messages li {
  padding: 5px 10px;
}

#messages li:nth-child(odd) {
  background: #eee;
}

#messages {
  margin-bottom: 40px
}

.chat-history {
  margin: 3%;
  margin-bottom: 5%;
}

.gray {
  color: gray;
}
